*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    transition: .2s ease-in-out;
}
body{
    // height: 100vh;
    padding-bottom: 80px;
    font-family: 'Jost', sans-serif;
    background-image: url("../images/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

:root {
    --top__top-title-color: #FFFFFF;
    --top__hr-color: rgba(255, 255, 255, 0.5);
    --top__top-text-color: #FFFFFF;
    --top__select-color: #FFFFFF;
    --top__select-border: #FFFFFF;
    --center-left__title-color: #FFFFFF;
    --center-left__text-color: #FFC700;
    --center-right__title-color: #FFC700;
    --center-right__text-color: #FFFFFF;
    --card-bg: rgba(255, 255, 255, 0.2);
    --card-title: #FFC700;
    --card-time: #FFFFFF;
    --dark-mode: #FFFFFF;
    --moon: #000000;
  }

  .active{
    --top__top-title-color: #1746A2;
    --top__hr-color: rgba(7, 5, 5, 0.5);
    --top__top-text-color: #5F9DF7;
    #select{
        background-color: #5F9DF7;
    }
    --top__select-color: #FFFFFF;
    --top__select-border: #1746A2;
    --center-left__title-color: #5F9DF7;
    --center-left__text-color: #FF731D;
    --center-right__title-color: #FF731D;
    --center-right__text-color: #1746A2;
    --card-bg: rgba(7, 6, 6, 0.3);
    --card-title: #FF731D;
    --card-time: #1746A2;
    --dark-mode: #0a0909;
    --moon: #b6941a;

    background: #FFF7E9;

    .week-name{
        background-color: #747a88;
        color: #FFF7E9;
    }
}

img{
    object-fit: cover;
}