.top-wrapper{
    width: 1100px;
    padding: 10px 0 30px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.top__title{
    font-weight: 700;
    font-size: 32px;
    line-height: 46px;
    color: var(--top__top-title-color);
}

.top__hr{
    width: 97%;
    height: 2px;
    margin: 20px 0 30px;
    display: inline-block;
    background-color: var(--top__hr-color);
}

.top__inner{
    display: flex;
    align-items: end;
    gap: 80px;
    margin: 0 auto;
}

.top__text{
    font-weight: 700;
    font-size: 20px;
    line-height: 29px;
    color: var(--top__top-text-color);
}

#select{
    position: relative;
    width: 199px;
    padding: 8px 0 9px 30px;
    font-weight: 700;
    font-size: 20px;
    line-height: 29px;
    color: var(--top__select-color);
    border: 1px solid var(--top__select-border);
    border-radius: 50px;
    background-color: transparent;
    appearance: none;
    background-image: url("../../images/arrow-down.svg"), url("../../images/select_circle.svg");
    background-repeat: no-repeat;
    background-size: 24px, 38px;
    background-position-x: 161px, 153px;
    background-position-y: 12px, 4px;
}

.week-name{
    background-color: grey;
    color: white;
}

#select * {
    width: 100%;
    font-weight: 700;
    font-size: 20px;
    line-height: 29px;
    color: #13003C;    
    background: rgba(255, 255, 255, .2);
}

// #select *:hover{
//     background: #FFFFFF;
// }

.dark-mode{
    position: absolute;
    top: 30px;
    right: 40px;
    width: 60px;
    height: 60px;
    background-color: var(--dark-mode);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.dark-mode svg{
    width: 30px;
    height: 30px;
}

.dark-mode svg path{
    fill: var(--moon);
}